<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Student_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	  <servlet-name>studController</servlet-name>
	  <servlet-class>com.iflame.controller.StudentController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>studController</servlet-name>
  	<url-pattern>/studController</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>adminController</servlet-name>
	  <servlet-class>com.iflame.controller.AdminController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>adminController</servlet-name>
  	<url-pattern>/adminController</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>teacherController</servlet-name>
	  <servlet-class>com.iflame.controller.TeacherController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>teacherController</servlet-name>
  	<url-pattern>/teacherController</url-pattern>
  </servlet-mapping>
  
   <servlet>
	  <servlet-name>feedbackController</servlet-name>
	  <servlet-class>com.iflame.controller.FeedbackController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>feedbackController</servlet-name>
  	<url-pattern>/feedbackController</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>changePwd</servlet-name>
	  <servlet-class>com.iflame.controller.ChangePasswordController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>changePwd</servlet-name>
  	<url-pattern>/changePwd</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>changePwdAdminController</servlet-name>
	  <servlet-class>com.iflame.controller.ChangePwdAdminController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>changePwdAdminController</servlet-name>
  	<url-pattern>/changePwdAdminController</url-pattern>
  </servlet-mapping>
</web-app>